@use '../base/variables' as *;
@use '../base/mixins' as *;

.alertas {
    padding: calc($separacion / 5);
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    font-weight: $bold;
    font-size: 1.5rem;
    border-radius: 1rem;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}
